<td colspan = 2  class = "no-border">
<div id = "large-job-text">
It appears the work you require is larger than our average job. Please <%= link_to "Contact Us", controller: "main", action: "contact_us" %> so that we can discuss your requirements in more detail.
</div>
</td>