<div id = "final-estimate-main">
	<div id = "final-estimate-left">
		<div id = "final-estimate-display">
			<div id = "final-estimate-header" class = "green-header">
				Thank You.
			</div>
			<div id = "final-estimate-content">
			
				Your Estimate request has been received. We will contact you with an estimated cost shortly.<br /><br />
				If necessary, our arborists may contact you for additional details about your job.
			</div>
			<div id = "final-estimate-footer">
				Thank you for your interest in the BigTree team.
			</div>
		</div>
		

	</div>
	
	
	<div id = "final-estimate-right">
	
		<%= render partial: 'estimate_summary' %>
	
	</div>
	
	
	
	
</div>

<div id = "final-estimate-bottom">
	If you had any further questions regarding your job, feel free to <%= link_to "Contact Us", controller: 'main', action: 'contact_us' %> <br />
	Please include the name and address so we can identify your estimate.
</div>
	
	
	

