<div class="modal-header">
	<h3 class="modal-title" id="myModalLabel"> <%= @modal_header %> </h4>
</div>
<div class="modal-body">
	<h4><%= @modal_body %></h3>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-lg btn-modal-close" data-dismiss="modal">Close</button>
</div>