<div id = 'appointment-complete'>
	<p id = 'appt-line-1'>Your appointment request has been received.<br />Thank you for your interest in the Big Tree team.</p>
	<p id = 'appt-line-2'>An Arborist will be in touch shortly to discuss the work needed.<br />
	If you have any further questions, please feel free to contact us at<br />
	1-877-542-5551
</div>
<%= image_tag "AppointmentComplete.jpg", :id => 'appointment-complete-image' %>