<div id = "about-page-container">




<div id = 'about-us' class = "clearfix">
	<div id = 'about-us-header'>About Us</div>
	<div id = "about-us-content" class = "clearfix">
		<div id = 'about-us-text'>
		We are a team of arborists, forestry technicians, utility line trimmers, and pesticide applicators with a common passion for tree care, chainsaws, and spending our days in the great outdoors. We are dedicated to providing tree removal, trimming and lot clearing services to Southern Ontario, including Toronto and the GTA, Kingston, Ottawa and more.
		<br /><br />
		Our promise is simple: safety first, an honest day's work,<br />and happy customers.
		<br /><br />
		ThatsABigTree.ca is a locally owned business with roots<br />in Southern Ontario. 
		<br />
		</div>
		<div id = 'about-us-image-container'>
			<%= image_tag 'BigTreeRes.jpg', :id => 'about-us-image' %>
		</div>
	</div>
</div>

<div id = 'services-container' class = 'clearfix'>
	<div id = 'services-header'>Our Services</div>
		<div id = 'services-image-container'>
			<%= image_tag "WorkCrew.JPG", :id => 'services-image' %>
		</div>
		<div id = 'services-table-container'>
			<table id = 'services-table'>
				<tr>
					<td>Tree Removal</td>
					<td>Tree and Bush Trimming</td>
					
				</tr>
				<tr>
					<td>Stump Removal</td>
					<td>Chipping and Cleanup</td>
				</tr>
				<tr>
					<td>Storm Damage</td>
					<td>Cabling and Bracing</td>
					
				</tr>
				<tr>
					<td>Lot Clearing</td>
					<td>Tree Injections</td>
				</tr>
				<tr>
					<td colspan = 2>Right of Way Management</td>
				</tr>
				
			</table>
		</div>

	</div>
</div>
