<div class = "row header-image sub-page-header">
	<div class = "col-lg-6 col-lg-offset-3 sub-header-column">
		<div class = "sub-page-header-title">
			<div class = "sub-page-header-text">
				About Us
			</div>
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'about-us' class = "col-lg-6 col-lg-offset-3">
		<div id = 'about-us-image-container'>
			<%= image_tag 'WorkCrew.JPG', :id => 'about-us-image' %>
		</div>
		
		
		<div id = 'about-us-text'>
		We are a team of arborists, forestry technicians, utility line trimmers, and pesticide applicators with a common passion for tree care, chainsaws, and spending our days in the great outdoors. We are dedicated to providing tree removal, trimming and lot clearing services to Southern Ontario, including Toronto and the GTA, Kingston, Ottawa and more.
		<br /><br />
		Our promise is simple: safety first, an honest day's work, and happy customers.
		<br /><br />
		ThatsABigTree.ca is a locally owned business with roots in Southern Ontario. 
		<br />
		</div>
	</div>
</div>

<div class = "row grey-row">
	<div class = "col-lg-6 col-lg-offset-3">
		<div id = "services-box" class = "shadow-box">
			<div id = "services-title">
				Our Services
			</div>
			<div id = "services-description">
				We offer a full range of tree care services to ensure your needs are met.
			</div>
			<ul id = "services-list">
				<li class>Tree Removal</li>
				<li class>Tree and Bush Trimming</li>
				<li>Lot Clearing</li>
				
				<li class>Storm Damage</li>
				<li class>Chipping and Cleanup</li>
				<li>Cabling and Bracing</li>
				
				<li class>Stump Removal</li>
				<li class>Right of Way Management</li>
				<li>Tree Injections</li>
			</ul>
		</div>
	</div>
</div>

