<div class = "row header-image sub-page-header">
	<div class = "col-lg-6 col-lg-offset-3 sub-header-column">
		<div class = "sub-page-header-title">
			<div class = "sub-page-header-text">
				Contact Us
			</div>
		</div>
	</div>
</div>

<div class = "row white-row">
	<div class = "col-lg-6 col-lg-offset-3">
		<p id = "contact-description">
			<b>We'd love to hear from you!</b> 
			<br /><br />
			If you have any questions about our services, please get in touch with one of the methods below.
		</p>
	</div>
</div>

<div class = "row grey-row">
	<div class = "col-lg-6 col-lg-offset-3">
		<div id = "contact-methods">
			<div id = "contact-box">
				<div id = "contact-text">
					<b>Phone</b> <br />
					1-877-542-5551
				</div>
			</div>
			
			<div id = "contact-box">
				<div id = "contact-text">
					<b>Email</b> <br />
					tbrewer@bigislandgroup.ca
				</div>
			</div>
		</div>
	</div>
</div>

