
	<div id = 'contact-us-header' class = 'green-header'>Contact Us</div>
	<div id = 'contact-us'>
		<div id = 'contact-box-left' class = 'contact-box'>
		Phone<br />1-877-542-5551
		</div>
		<div id = 'contact-box-right' class = 'contact-box'>
		Email<br />tbrewer@bigislandgroup.ca
		</div>
	</div>

<%= image_tag "AppointmentComplete.jpg", :id => 'appointment-complete-image' %>
