<div class = "row" id = "feature-row">
<div id = "feature-panel" class = "col-md-6 col-md-offset-3">
	<%= link_to controller: 'estimate', action: 'new' do %>
		<div id = "feature-box">
			<div id = "feature-inner-box">
				<div class = "estimate-link">Get Your Free Estimate</div>
				 <br /> 
				See for yourself just how easy and affordable your tree care needs can be.
			</div>
		</div>
	<% end %>
</div>
</div>

<div id = "testimonial-main-page-title">
<p><b>A Word from Our Customers</b>
</div>

<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<div id = "testimonial-container">
			<div class = "testimonial-box testimonial-box-left">
				"We wouldn't use anyone else. On short notice last summer I called the Big Tree team to fix the broken tree at our cottage. He spent a full day at our place, and the next day on a couple more trees. We have more trees for them to do next year."
				<div class = "testimonial-signature">
					Paul, Toronto
				</div>
			</div>

			<div class = "testimonial-box testimonial-box-center">
				"The Big Tree crew removed a massive pine in our backyard. I went to pick up a pizza for the guys for lunch and when I came back, the tree was cut and they were in the process of cleaning up. My neighbours on both sides have scheduled them for additional work. Will definitely use Big Tree again. Thanks!!!!"
				<div class = "testimonial-signature">
					Sherry, Peterborough
				</div>
			</div>			

			<div class = "testimonial-box testimonial-box-right">
				"The Big Tree crew did a great job. We had a couple Ash trees that had died, and some apple trees that needed to be trimmed. The work was on time and well executed. Their workmanship was excellent and the clean up at the end of each day was well done. The entire crew was very professional."
				<div class = "testimonial-signature">
					Dwayne, Hamilton
				</div>
			</div>
			
		</div>
	</div>
</div>