
<div id = "feature-panel">
	
	
</div>


<div id = "mission-statement">
<p><b>~ A Word from Our Customers ~</b>
</div>

<div id = "user-reviews">
	<div class = "review">
		"We wouldn't use anyone else. On short notice last summer I called the Big Tree team to fix the<br/>broken tree at our cottage. He spent a full day at our place, and the next day on a couple more trees.<br/>We have more trees for them to do next year." - Paul
	</div>
	<div class = "review">
		"The Big Tree crew removed a massive pine in our backyard. I went to pick up a pizza for the guys<br/>for lunch and when I came back, the tree was cut and they were in the process of cleaning up.<br/>My neighbours on both sides have scheduled them for additional work.<br/>Will definitely use Big Tree again. Thanks!!!!" - Sherry
	</div>
</div>

