<div class = "row header-image sub-page-header">
	<div class = "col-lg-6 col-lg-offset-3 sub-header-column">
		<div class = "sub-page-header-title">
			<div class = "sub-page-header-text">
				About Us
			</div>
		</div>
	</div>
</div>

<div class = "row white-row">
	<div id = 'promise' class = "col-lg-6 col-lg-offset-3">

		<div class = "promise-block">
			<div class = "promise-title">
				<p class="promise-title-text">
					1. Timely and Professional
				</p>
			</div>
			<div class = "promise-content">
				From our initial communication to the final cleanup, your job is priority #1 to us. You can call us anytime.
			</div>
		</div>

		<div class = "promise-block">
			<div class = "promise-title">
				<p class="promise-title-text">
					2. Safe Working Methods
				</p>
			</div>
			<div class = "promise-content">
				Rest easy as the work will be completed by trained, certified, and insured pros with the latest tools
				and technology to make sure it's done properly.
			</div>
		</div>

		<div class = "promise-block">
			<div class = "promise-title">
				<p class="promise-title-text">
					3. Fair Value
				</p>
			</div>
			<div class = "promise-content">
				Customers will receive a hardcopy proposal before any costs occur. There will be no hidden costs or surprise fees.
			</div>
		</div>
	</div>
</div>
